---
const { post } = Astro.props;

const formattedDate = new Date(
    post.frontmatter.date
    ).toLocaleDateString(
        "en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
});
---

<a href={`${import.meta.env.BASE_URL}blog/${post.slug}`}
  class="transition-all duration-50 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl rounded-xl overflow-hidden bg-bg-item"
>

  <img src={post.frontmatter.thumbnail} alt={post.frontmatter.title} width="360" height="192">
  <div class="py-6 px-8">
    <h2 class="font-bold text-2xl leading-tight">
      {post.frontmatter.title}
    </h2>
    <div class="text-text-muted text-sm italic">
      <time datetime={post.frontmatter.date.toISOString()}>
        {formattedDate}
      </time>
    </div>
  </div>
</a>

<!--
  OLD Variant
<div class="title">
  {post.frontmatter.external ? (
    <a
      href={post.frontmatter.url}
      target="_blank"
      class="unset hover:text-text-link"
    >
      <span>{post.frontmatter.title}</span>
      <span>
        <i class="ml-1 text-[12px] fa-solid fa-up-right-from-square" />
      </span>
    </a>
  ) : (
    <a
      href={`${import.meta.env.BASE_URL}blog/${post.slug}`}
      class="unset hover:text-text-link"
    >
      {post.frontmatter.title}
    </a>
  )}
</div>
<div class="text-text-muted text-sm italic">
  <time datetime={post.frontmatter.date.toISOString()}>
    {formattedDate}
  </time>
</div>
-->